@import url(./styles/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* typography */
  --heading-xs: normal normal 700 14px/1.4 "Nunito", san-serif;
  --heading-sm: normal normal 700 16px/1.4 "Nunito", san-serif;
  --heading-md: normal normal 700 20px/1.4 "Nunito", san-serif;
  --heading-lg: normal normal 700 32px/1.4 "Nunito", san-serif;
  --heading-xl: normal normal 800 48px/1.2 "Nunito", san-serif;
  --heading-hg: normal normal 800 96px/1 "Nunito", san-serif;

  --text-xs: normal normal 400 12px/1.4 "Nunito", san-serif;
  --text-sm: normal normal 400 14px/1.4 "Nunito", san-serif;
  --text-md: normal normal 400 16px/1.4 "Nunito", san-serif;
  --text-lg: normal normal 400 20px/1.4 "Nunito", san-serif;

  /* colors */
  --color-white: #ffffff;
  --color-gray-100: #fafafa;
  --color-gray-200: #bfbfd4;
  --color-gray-300: #ababc4;
  --color-gray-400: #7f7f98;
  --color-gray-500: #3b3b54;
  --color-gray-600: #22222f;
  --color-gray-700: #1c1c27;
  --color-gray-800: #16161f;
  --color-gray-900: #13131a;
  --color-blue-light: #8fb2f5;

  /* font-family */
  --family: "Nunito", sans-serif;

  --radii: 8px;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-white);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--family);
  color: var(--color-white);
  background-image: url("./assets//images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

#root {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
